table {
    width: 100%;
}

section {
    display: table;
}

.nextstep-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
}

.nextstep-button-row {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}

.nextstep-center {
    display: flex;
    justify-content: center;
}

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.table-main-menu {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 15px;
}

.input-form {
    margin-right: 15px;
}